doctype html
html
    head
        title Virtual Explorer
        link(rel='stylesheet', href='/stylesheets/lib/leaflet.css')
        link(rel='stylesheet', href='/stylesheets/lib/MarkerCluster.css')
        link(rel='stylesheet', href='/stylesheets/lib/MarkerCluster.Default.css')
        link(rel='stylesheet', href='/stylesheets/style.css')
        script(src='/javascripts/lib/jquery-2.1.4.min.js')
        script(src='/javascripts/lib/i18next-1.11.0.min.js')
        script(src='/javascripts/lib/leaflet.js')
        script(src='/javascripts/lib/leaflet.markercluster.js')
        script(src='/javascripts/lib/leaflet-canvasicon.js')
        script(src='/javascripts/lib/three.min.js')
        script(src='/javascripts/lib/sphoords.js')
        script(src='/javascripts/lib/math.min.js')
        script(src='/javascripts/lib/marked.min.js')
        script(src='/javascripts/script.js')
    body
        script var id = "#{id}"
        script var type = "#{type}"
        #infoPopup
