doctype html
html
    head
        title Virtual Explorer
        link(rel='stylesheet', href='/stylesheets/lib/leaflet.css')
        link(rel='stylesheet', href='/stylesheets/lib/MarkerCluster.css')
        link(rel='stylesheet', href='/stylesheets/lib/MarkerCluster.Default.css')
        link(rel='stylesheet', href='/stylesheets/style.css')
        script(src='/javascripts/lib/jquery-2.1.4.min.js')
        script(src='/javascripts/lib/i18next-1.11.0.min.js')
        script(src='/javascripts/lib/leaflet.js')
        script(src='/javascripts/lib/leaflet.markercluster.js')
        script(src='/javascripts/lib/leaflet-canvasicon.js')
        script(src='/javascripts/lib/three.min.js')
        script(src='/javascripts/lib/math.min.js')
        script(src='/javascripts/lib/marked.min.js')
        script(src='/javascripts/script.js')
    body
        script if (window.explore === undefined) {window.explore = {};} window.explore.loadingData = {id: "#{id}", type: "#{type}"};
        #explore.fullsize
            #infoPopup.overlay
            #menu_fullscreen.overlay
                a(onclick='explore.toggleFullscreen()')
                    img(id='menu_fullscreen_img' src='images/menu/enter_fullscreen.png'  width='58' height='50')
            #menu_resolution.overlay
                a(onclick='explore.changeResolution()')
                    img(id='menu_resolution_img' src='images/menu/res_small.png' width='58' height='50')
            #menu_language.overlay
                a(onclick='explore.changeLanguage()')
                    img(id='menu_language_img' src='images/menu/lang_en.png' width='58' height='50')
            #menu_map.overlay
                a(onclick='explore.loadMap()')
                    img(id='menu_map_img' src='images/menu/map.png' width='58' height='50')