doctype html
html
    head
        title Virtual Explorer
        link(rel='stylesheet', href='stylesheets/leaflet.css')
        link(rel='stylesheet', href='stylesheets/explore.css')
        script(src='/javascripts/lib/jquery-2.1.4.min.js')
        script(src='/javascripts/lib/i18next-1.11.0.min.js')
        script(src='/javascripts/lib/leaflet.js')
        script(src='/javascripts/lib/three.min.js')
        script(src='/javascripts/lib/sphoords.js')
        script(src='/javascripts/SphereViewer.js')
        script(src='/javascripts/PSVNavBar.js')
        script(src='/javascripts/PSVNavBarButton.js')
        script(src='/javascripts/map.js')
        script(src='/javascripts/sphere.js')
    body
        script(src='/javascripts/explore.js')
