extends layout

block content
    h1 Error
    if id == "webgl"
        p Your browser did not support WebGL. Please use a browser with WebGL support!
    if id == "canvas"
        p Canvas is not supported. Please update your browser!
