doctype html
html
   head
      title Map
      link(rel='stylesheet', href='stylesheets/map.css')
      script(src='/javascripts/lib/jquery-2.1.4.min.js')
   body
      script(src='/javascripts/map.js')