doctype html
html
   head
      title Map
      link(rel='stylesheet', href='stylesheets/leaflet.css')
      link(rel='stylesheet', href='stylesheets/map.css')
      script(src='/javascripts/lib/jquery-2.1.4.min.js')
      script(src='/javascripts/lib/leaflet.js')
   body
      #map
      script(src='/javascripts/map.js')