doctype html
html
   head
      title Sphere
      link(rel='stylesheet', href='stylesheets/sphere.css')
      script(src='/javascripts/lib/jquery-2.1.4.min.js')
      script(src='/javascripts/lib/three.min.js')
      script(src='/javascripts/lib/sphoords.js')
      script(src='/javascripts/PhotoSphereViewer.js')
      script(src='/javascripts/PSVNavBar.js')
      script(src='/javascripts/PSVNavBarButton.js')

   body
      #sphere
      script(src='/javascripts/sphere.js')